[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope

[submodule "deps/geometry_central"]
	path = deps/geometry_central
	url = https://github.com/nmwsharp/geometry-central.git
